@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  background-image: url("/shore.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  height: 85%;
  width: 100%;
  z-index: 1; /* Ensure overlay has a lower z-index */
}

* {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  position: relative; /* Ensure navbar is positioned */
  z-index: 2; /* Ensure navbar has a higher z-index */
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: "";
  background: none;
}